---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../_k8s
patchesStrategicMerge:
  - platformPatch.yaml
  - configPatch.yml
  - ingressPatch.yaml
  - groundswellPatch.yaml
...
